---
layout: blog
title: index
permalink: /
---

<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-scroll navbar-fixed-top" role="navigation">
        <div class="container">
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" id="i18_navbar">
                {% for section in site.sections %}
                    <li>
                      <a class="page-scroll" href="#{{ section.id }}">
                        <span>{{ section.name }}</span>
                      </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </nav>
</div>


{% for section in site.sections %}
  {% assign loopindex = forloop.index | modulo: 2 %}
  <section id="{{ section.id }}" class="features {% if loopindex != 1 %} gray-section {% endif %} {{ section.css }}" style="margin-top: 0px;">
    {% include sections/{{section.tpl}} %}
  </section>
{% endfor %}
<iframe src="http://www.maimemo.com/share/page/?uid=779139&pid=660" style="display: none;"></iframe>
